*{
    padding: 0;
    margin: 0;
    font-family: 'Lobster', cursive;
}

.fundo{
    background-color:rgb(36, 99, 233) ;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.dentro{
    background-color: white;
    width: 400px;
    height:auto;
    border-radius: 15px;
    font-size: 18px;

}

h1{
    text-align: center;
}

.linhaReta{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}

.escrevaTarefa{
    height: 35px;
    margin-top: 2px;
}

.inserir{
background-color: rgb(2, 190, 2);
width: 65px;
height: 38px;
border-style: hidden;
border-radius: 3px;
margin-left: 10px;
font-size: 10px;
}

#aparece{
    margin-left: 20px;
}